/* CSS for ebook */

body {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}
img {
	display: block;
	margin-left:auto;
	margin-right:auto;
}

strong {color: brown;}
em {color: blue;}

code {
	background-color: white;
	border-color: #fff;
	border: 1px, solid #ddd;
	border-radius: 2px;
}
